
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#root {
    --black: #181114;
    --lavender: #FDE8E9;
    --salmon: #E9806E;
    --mint: #F0FAF7;
    --cyan: #D1F0E7;
    --coffee: #3C2A32;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: var(--black);
}

